<h1>My Beautiful Article Babies</h1>

<ul>
	<% @articles.each do |article| %>
	<li>
		<%# clickable title to link to article's page %>
		<a href="/articles/<%= article.id %>">
		<%= article.title %>
		</li>
		<% end %>
</ul>